<mat-form-field style="width: 80%;margin-top: -15px;">
    <mat-chip-list #chipList aria-label="Wiki articles">
        <mat-chip *ngFor="let article of articles" [selectable]="selectable" [removable]="removable"
            (removed)="remove(article)">
            {{article.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
</mat-form-field>