<!-- chrezmo@gmail.com -->
<!-- http://www.unexplainedmysteries.net/c/chresmomancy.htm -->

<!-- <head>
</head> -->
<nav style="position: absolute; z-index: 1;">
  <ul>
    <button class="animated-btn"><a routerLink="/" routerLinkActive="active"><span>3D Graph </span></a></button>
    <button class="animated-btn"><a routerLink="/charts" routerLinkActive="active"><span>Trends </span></a></button>
  </ul>
</nav>
<div class="header" #chrezmoheader>
  <span class="letter" #c>C</span><span class="letter" #h>h</span><span class="letter" #r>r</span><span class="letter"
    #e>e</span><span class="letter" #z>z</span><span class="letter" #m>m</span><span class="letter" #o>o</span><span
    class="info">@gmail.com</span>
</div>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
<!-- Chrezmo is defined as the default (first) route in app-routing.module.ts, so if it's added here, it double-renders <chrezmo></chrezmo> -->
<!-- <script src="chrezmo.js"></script> -->