<nav style="position: absolute; z-index: 1;">
  <ul>
    <button class="animated-btn"><a routerLink="/" routerLinkActive="active"><span>3D Graph </span></a></button>
    <button class="animated-btn"><a routerLink="/trends" routerLinkActive="active"><span>Trends </span></a></button>
  </ul>
</nav>
<div class="header" #chrezmoheader>
  <span>Chrezmo</span><span class="info">@gmail.com</span>
</div>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
<!-- Chrezmo is defined as the default (first) route in app-routing.module.ts, so if it's added here, it double-renders <chrezmo></chrezmo> -->