<div style="padding-top: 100px;">
    <daterangepicker placement="top" class="date-range-picker"></daterangepicker>
    <chips class="chips-container"></chips>
    <div id="topcontainer" class="chart-container">
        <wikiviewsperdaychart container="topcontainer"></wikiviewsperdaychart>
    </div>
    <daterangepicker placement="bottom" class="date-range-picker"></daterangepicker>
    <chips class="chips-container"></chips>
    <div id="bottomcontainer" class="chart-container">
        <wikiviewsperdaychart container="bottomcontainer"></wikiviewsperdaychart>
    </div>
</div>